{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Sign Out</div>
                    <div class="card-body">
                        <p>{% trans 'Are you sure you want to sign out?' %}</p>
                        <form method="post" action="{% url 'account_logout' %}" class="form">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-danger mr-2">{% trans 'Sign Out' %}</button>
                                <a href="{% url 'upload_data' %}" class="btn btn-secondary">{% trans 'Back' %}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
